<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="HKU Fellows - Page Not Found">
    <meta name="description" content="HTTP 404, which means the targeting page does not exists">

    <title>404 | HKU Fellows</title>
    <link rel=icon href=.\favicon.ico>

    <link rel="stylesheet" type="text/css" href=".\static\stylesheet\semantic.min.css">
    <script src=".\static\script\jquery.min.js"></script>
    <script src=".\static\script\semantic.min.js"></script>
</head>

<style>
  body { display: flex; }
  h2 { margin: auto !important; }
</style>

<body>
  <h2 class="ui center aligned icon header">
    <div class="icons">
      <i class="teal inverted flipped vertically graduation cap circular icon"></i>
    </div>
    <div class="content">
        Page Not Found
        <div class="ui divider"></div>
        <div class="sub header">Oops! Probably the URL is somewhere not correct.</div>
      </div>
  </h2>
</body>
</html>
