<!-- The image hover box -->
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header"><i class="file image icon"></i>project-schedule.svg</div>
  <div class="content">
    <div class="description">
      <p>Details of the Team's project schedule are shown.</p>
    </div>
    <img class="ui image fluid" src=".\resources\schedule.svg">
  </div>
</div>

<script>
  /* Register schedule attachment onclick */
  $('.schedule').click((e) => {
    $('.ui.modal').modal('show');
  });
</script>
